.feedback__form {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 42px;

    input {
        padding: 20px;
        width: 14.32vw;
        height: 65px;
        border: none;
        cursor: pointer;

        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: $blackText;
        &::placeholder {
            color: #C5C5C5;
        }

        @media (max-width: $breakpointXLarge) {
            font-size: 18px;
        }
        @media (min-width: $breakpointXLarge) and (max-width: 1920px) {
            font-size: 16px;
        }
        @media (min-width: $breakpointLarge) and (max-width: $breakpointXLarge) {
            font-size: 15px;
        }
        @media (max-width: $breakpointLarge) {
            width: 35vw;
        }
        @media (max-width: $breakpointMedium) {
            width: 83.33vw;
        }
    }

    @media (max-width: $breakpointLarge) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;
    }
}
