.carousel {
    &__prev, &__next {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
    &__prev {
        left: 65px;
        background: url("../img/icons/arrowPrev.svg") center center/contain no-repeat;
        &:hover {
            background-image: url("../img/icons/arrowPrevActive.svg");
        }
    }
    &__next {
        right: 65px;
        background: url("../img/icons/arrowNext.svg") center center/contain no-repeat;
        &:hover {
            background-image: url("../img/icons/arrowNextActive.svg");
        }
    }
}