.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    &__more {
        border: 2px dashed #fff;
        width: 210px;
        height: 60px;
        transition: 0.5s all;
        &:hover {
            border: none;
            background: #fff;
        }
        @media (max-width: $breakpointMedium) {
            padding: 10px;
            display: block;
            text-align: center;
        }
    }

    &__submit {
        width: 11.46vw;
        height: 65px;
        background-color: #138F5B;
        transition: 0.5s all;   
        &:hover {
            background-color: #04643C;
        }

        @media (max-width: $breakpointXLarge) {
            font-size: 18px;
        }
        @media (max-width: $breakpointLarge) {
            width: 18vw;
        }
        @media (max-width: $breakpointMedium) {
            width: 100%;
        }
    }
}
