.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    &__more {
        border: 2px dashed #fff;
        width: 210px;
        height: 60px;
        transition: 0.5s all;
        &:hover {
            border: none;
            background: #fff;
        }
    }

    &__submit {
        width: 220px;
        height: 65px;
        background-color: #138F5B;
        transition: 0.5s all;   
        &:hover {
            background-color: #04643C;
        }
    }
}
