.title {
    font-weight: 500;
    font-size: 96px;
    line-height: 110%;

    color: #ffffff;
}

.subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 115%;

    color: $blackText;
    &-green {
        span {
            color: $greenText;
        }
    }
    &-blue {
        span {
            color: $blueText;
        }
    }
    &-purple {
        span {
            color: $purpleText;
        }
    }
}

.descr {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: #615D5D;
}
