$breakpointXLarge: 1399.98px;
$breakpointLarge: 1199.98px;
$breakpointMedium: 991.98px;
$breakpointSmall: 767.98px;
$breakpointXSmall: 575.98px;

$blackText:#1D1A1A; 
$greenText: #0ED984;
$blueText: #3577F6;
$purpleText: #D72DF3;
 